.container-main {
  display: flex;
  flex-direction: column;
 max-width: 1440px;
 max-height: 1024px;
  margin-top: -70px;
  background: #ffffff;
  border-radius: 60px 60px 0px 0px;
  padding: 63px 0 0 105px;
}

.span-container-filtrar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 30px;

  background: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container-filtrar {
  width: 959px;
  height: 205px;
  left: 105px;
  top: 226px;
  background: #fafafa;

  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 61px;
}

.container-resumo {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 26px 0 32px 23px;
  width: 236px;
  height: 206px;
  background: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.section-container-resumo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 245px;
  height: 265px;
  left: 1104px;
  top: 279px;

}
.container-group-resumo{

  background-color: #ffffff00;
}
.section-container-resumo button {
  width: 236px;
  height: 46px;
  position: absolute;
  left: 0px;
  right: 0px;

  bottom: -4px;

  background: #7978d9;
  border-radius: 5px;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
.section-container-filtrar {
  width: 959px;
  height: 205px;
  margin: 33px 0 61px 0;
}
.span-entrada,
.span-saida,
.span-total {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.span-entrada b {
  color: #645ffb;
}
.span-saida b {
  color: #fa8c10;
}
.span-total {
  border-top: 2px solid rgba(0, 0, 0, 0.531);
  padding-top: 10px;
}
.span-total b {
  color: #3a9ff1;
} 
