.not-found {
  width: 1440px;
  height: 100vh;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/glitch-web-background_23-2148095847.avif);

}