dialog {
  min-width: 1440px;
  min-height: 1608px;
  border-radius: 8px;
  background-color: #0000005f;
  padding: 89px 0 69px 415px;
}

.container-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 611px;
  height: 769px;
  padding: 61px 0 64px 0;
  gap: 50px;
  position: fixed;
  top: 79px;
  background: #ffffff;
  overflow: none;
  
}
.container-dialog input,
select {


  width: 485px;
  height: 63px;

  background: #ffffff;
  border: 1px solid #555555;
  border-radius: 5px;
}
.container-dialog h1 {
  color: black;
}

.img-close {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 67px;
  right: 64px;
}

form,
label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #484848;
}
.container-botoes-entrada-saida{
  display: flex;
  gap:10px;
}

.btn-entrada,
.btn-saida {
  width: 245px;
  height: 60px;
  border: none;
  background: #b9b9b9;
  border-radius: 10px;
  color: white;
}
.saida{
  background: #ff576b;
}
.entrada {
  background: #3a9ff1;
}

.btn-confirmar {
  width: 236px;
  height: 46px;
margin: 20px 0 0 130px;
  background: #7978d9;
  border-radius: 5px;
  color: white;
} 